@use '../builders/button-appearances-builder';

// Themed
@mixin buttonPrimaryThemed(
  $root,
  $withInnerElementsDefs: false,
) {
  @include button-appearances-builder.buildButtonPrimaryModeAppearance(
    $root,
    $withInnerElementsDefs,

    $background: var(--background-accent-themed),
    $background_disabled: var(--states-background-disabled-themed),
    $background_hovered: var(--states-background-hovered-themed),
    $background_pressed: var(--states-background-pressed-themed),
    $foreground: var(--text-contrast-static),
    $foreground_disabled: var(--states-text-disabled-contrast-static),

    $innerElementsBackground: var(--background-accent-contrast-static),
    $innerElementsBackground_disabled: var(--states-background-disabled-contrast-static),
    $innerElementsForeground: var(--text-themed),
    $innerElementsForeground_disabled: var(--states-text-disabled-themed),
  )
}

@mixin buttonSecondaryThemed(
  $root,
  $withInnerElementsDefs: false,
) {
  @include button-appearances-builder.buildButtonSecondaryModeAppearance(
    $root,
    $withInnerElementsDefs,

    $foreground: var(--text-themed),
    $foreground_disabled: var(--states-text-disabled-themed),

    $innerElementsBackground: var(--background-accent-themed),
    $innerElementsBackground_disabled: var(--states-background-disabled-themed),
    $innerElementsForeground: var(--text-contrast-static),
    $innerElementsForeground_disabled: var(--states-text-disabled-contrast-static),
  )
}

@mixin buttonTertiaryThemed(
  $root,
  $withInnerElementsDefs: false,
) {
  @include button-appearances-builder.buildButtonTertiaryModeAppearance(
    $root,
    $withInnerElementsDefs,

    $foreground: var(--text-themed),
    $foreground_disabled: var(--states-text-disabled-themed),

    $innerElementsBackground: var(--background-accent-themed),
    $innerElementsBackground_disabled: var(--states-background-disabled-themed),
    $innerElementsForeground: var(--text-contrast-static),
    $innerElementsForeground_disabled: var(--states-text-disabled-contrast-static),
  )
}

@mixin buttonLinkThemed(
  $root,
  $withInnerElementsDefs: false,
) {
  @include button-appearances-builder.buildButtonLinkModeAppearance(
    $root,
    $withInnerElementsDefs,

    $foreground: var(--text-themed),
    $foreground_disabled: var(--states-text-disabled-themed),
    $foreground_pressed: var(--states-text-pressed-themed),
    $foreground_hovered: var(--states-text-hovered-themed),

    $innerElementsBackground: var(--background-accent-themed),
    $innerElementsBackground_disabled: var(--states-background-disabled-themed),
    $innerElementsForeground: var(--text-contrast-static),
    $innerElementsForeground_disabled: var(--states-text-disabled-contrast-static),
  )
}

// Negative
@mixin buttonPrimaryNegative(
  $root,
  $withInnerElementsDefs: false,
) {
  @include button-appearances-builder.buildButtonPrimaryModeAppearance(
    $root,
    $withInnerElementsDefs,

    $background: var(--background-accent-negative),
    $background_disabled: var(--states-background-disabled-negative),
    $background_hovered: var(--states-background-hovered-negative),
    $background_pressed: var(--states-background-pressed-negative),
    $foreground: var(--text-contrast-static),
    $foreground_disabled: var(--states-text-disabled-contrast-static),

    $innerElementsBackground: var(--background-accent-contrast-static),
    $innerElementsBackground_disabled: var(--states-background-disabled-contrast-static),
    $innerElementsForeground: var(--text-negative),
    $innerElementsForeground_disabled: var(--states-text-disabled-negative),
  )
}

@mixin buttonSecondaryNegative(
  $root,
  $withInnerElementsDefs: false,
) {
  @include button-appearances-builder.buildButtonSecondaryModeAppearance(
    $root,
    $withInnerElementsDefs,

    $foreground: var(--text-negative),
    $foreground_disabled: var(--states-text-disabled-negative),

    $innerElementsBackground: var(--background-accent-negative),
    $innerElementsBackground_disabled: var(--states-background-disabled-negative),
    $innerElementsForeground: var(--text-contrast-static),
    $innerElementsForeground_disabled: var(--states-text-disabled-contrast-static),
  )
}

@mixin buttonTertiaryNegative(
  $root,
  $withInnerElementsDefs: false,
) {
  @include button-appearances-builder.buildButtonTertiaryModeAppearance(
    $root,
    $withInnerElementsDefs,

    $foreground: var(--text-negative),
    $foreground_disabled: var(--states-text-disabled-negative),

    $innerElementsBackground: var(--background-accent-negative),
    $innerElementsBackground_disabled: var(--states-background-disabled-negative),
    $innerElementsForeground: var(--text-contrast-static),
    $innerElementsForeground_disabled: var(--states-text-disabled-contrast-static),
  )
}

@mixin buttonLinkNegative(
  $root,
  $withInnerElementsDefs: false,
) {
  @include button-appearances-builder.buildButtonLinkModeAppearance(
    $root,
    $withInnerElementsDefs,

    $foreground: var(--text-negative),
    $foreground_disabled: var(--states-text-disabled-negative),
    $foreground_pressed: var(--states-text-pressed-negative),
    $foreground_hovered: var(--states-text-hovered-negative),

    $innerElementsBackground: var(--background-accent-negative),
    $innerElementsBackground_disabled: var(--states-background-disabled-negative),
    $innerElementsForeground: var(--text-contrast-static),
    $innerElementsForeground_disabled: var(--states-text-disabled-contrast-static),
  )
}

// Neutral
@mixin buttonPrimaryNeutral(
  $root,
  $withInnerElementsDefs: false,
) {
  @include button-appearances-builder.buildButtonPrimaryModeAppearance(
    $root,
    $withInnerElementsDefs,

    $background: var(--background-accent-neutral),
    $background_disabled: var(--states-background-disabled-neutral),
    $background_hovered: var(--states-background-hovered-neutral),
    $background_pressed: var(--states-background-pressed-neutral),
    $foreground: var(--text-contrast),
    $foreground_disabled: var(--states-text-disabled-contrast),

    $innerElementsBackground: var(--background-accent-contrast-static),
    $innerElementsBackground_disabled: var(--states-background-disabled-contrast-static),
    $innerElementsForeground: var(--text-primary-static),
    $innerElementsForeground_disabled: var(--states-text-disabled-primary-static),
  )
}

@mixin buttonSecondaryNeutral(
  $root,
  $withInnerElementsDefs: false,
) {
  @include button-appearances-builder.buildButtonSecondaryModeAppearance(
    $root,
    $withInnerElementsDefs,

    $foreground: var(--text-primary),
    $foreground_disabled: var(--states-text-disabled-primary),

    $innerElementsBackground: var(--background-accent-neutral),
    $innerElementsBackground_disabled: var(--states-background-disabled-neutral),
    $innerElementsForeground: var(--text-contrast),
    $innerElementsForeground_disabled: var(--states-text-disabled-contrast),
  )
}

@mixin buttonTertiaryNeutral(
  $root,
  $withInnerElementsDefs: false,
) {
  @include button-appearances-builder.buildButtonTertiaryModeAppearance(
    $root,
    $withInnerElementsDefs,

    $foreground: var(--text-primary),
    $foreground_disabled: var(--states-text-disabled-primary),

    $innerElementsBackground: var(--background-accent-neutral),
    $innerElementsBackground_disabled: var(--states-background-disabled-neutral),
    $innerElementsForeground: var(--text-contrast),
    $innerElementsForeground_disabled: var(--states-text-disabled-contrast),
  )
}

@mixin buttonLinkNeutral(
  $root,
  $withInnerElementsDefs: false,
) {
  @include button-appearances-builder.buildButtonLinkModeAppearance(
    $root,
    $withInnerElementsDefs,

    $foreground: var(--text-primary),
    $foreground_disabled: var(--states-text-disabled-primary),
    $foreground_pressed: var(--states-text-pressed-primary),
    $foreground_hovered: var(--states-text-hovered-primary),

    $innerElementsBackground: var(--background-accent-neutral),
    $innerElementsBackground_disabled: var(--states-background-disabled-neutral),
    $innerElementsForeground: var(--text-contrast),
    $innerElementsForeground_disabled: var(--states-text-disabled-contrast),
  )
}

// Neutral themed
@mixin buttonPrimaryNeutralThemed(
  $root,
  $withInnerElementsDefs: false,
) {
  @include button-appearances-builder.buildButtonPrimaryModeAppearance(
    $root,
    $withInnerElementsDefs,

    $background: var(--background-accent-neutral-themed),
    $background_disabled: var(--states-background-disabled-neutral-themed),
    $background_hovered: var(--states-background-hovered-neutral-themed),
    $background_pressed: var(--states-background-pressed-neutral-themed),
    $foreground: var(--text-contrast-static),
    $foreground_disabled: var(--states-text-disabled-contrast-static),

    $innerElementsBackground: var(--background-accent-contrast-static),
    $innerElementsBackground_disabled: var(--states-background-disabled-contrast-static),
    $innerElementsForeground: var(--text-neutral-themed),
    $innerElementsForeground_disabled: var(--states-text-disabled-neutral-themed),
  )
}

@mixin buttonSecondaryNeutralThemed(
  $root,
  $withInnerElementsDefs: false,
) {
  @include button-appearances-builder.buildButtonSecondaryModeAppearance(
    $root,
    $withInnerElementsDefs,

    $foreground: var(--text-neutral-themed),
    $foreground_disabled: var(--states-text-disabled-neutral-themed),

    $innerElementsBackground: var(--background-accent-neutral-themed),
    $innerElementsBackground_disabled: var(--states-background-disabled-neutral-themed),
    $innerElementsForeground: var(--text-contrast-static),
    $innerElementsForeground_disabled: var(--states-text-disabled-contrast-static),
  )
}

@mixin buttonTertiaryNeutralThemed(
  $root,
  $withInnerElementsDefs: false,
) {
  @include button-appearances-builder.buildButtonTertiaryModeAppearance(
    $root,
    $withInnerElementsDefs,

    $foreground: var(--text-neutral-themed),
    $foreground_disabled: var(--states-text-disabled-neutral-themed),

    $innerElementsBackground: var(--background-accent-neutral-themed),
    $innerElementsBackground_disabled: var(--states-background-disabled-neutral-themed),
    $innerElementsForeground: var(--text-contrast-static),
    $innerElementsForeground_disabled: var(--states-text-disabled-contrast-static),
  )
}

@mixin buttonLinkNeutralThemed(
  $root,
  $withInnerElementsDefs: false,
) {
  @include button-appearances-builder.buildButtonLinkModeAppearance(
    $root,
    $withInnerElementsDefs,

    $foreground: var(--text-neutral-themed),
    $foreground_disabled: var(--states-text-disabled-neutral-themed),
    $foreground_pressed: var(--states-text-pressed-neutral-themed),
    $foreground_hovered: var(--states-text-hovered-neutral-themed),

    $innerElementsBackground: var(--background-accent-neutral-themed),
    $innerElementsBackground_disabled: var(--states-background-disabled-neutral),
    $innerElementsForeground: var(--text-contrast-static),
    $innerElementsForeground_disabled: var(--states-text-disabled-contrast-static),
  )
}

// Contrast static
@mixin buttonPrimaryContrastStatic(
  $root,
  $withInnerElementsDefs: false,
) {
  @include button-appearances-builder.buildButtonPrimaryModeAppearance(
    $root,
    $withInnerElementsDefs,

    $background: var(--background-accent-contrast-static),
    $background_disabled: var(--states-background-disabled-contrast-static),
    $background_hovered: var(--states-background-hovered-contrast-static),
    $background_pressed: var(--states-background-pressed-contrast-static),
    $foreground: var(--text-primary-static),
    $foreground_disabled: var(--states-text-disabled-primary-static),

    $innerElementsBackground: var(--background-accent-neutral-static),
    $innerElementsBackground_disabled: var(--states-background-disabled-neutral-static),
    $innerElementsForeground: var(--text-contrast-static),
    $innerElementsForeground_disabled: var(--states-text-disabled-contrast-static),
  )
}

@mixin buttonSecondaryContrastStatic(
  $root,
  $withInnerElementsDefs: false,
) {
  @include button-appearances-builder.buildButtonSecondaryModeAppearance(
    $root,
    $withInnerElementsDefs,

    $foreground: var(--text-contrast-static),
    $foreground_disabled: var(--states-text-disabled-contrast-static),

    $innerElementsBackground: var(--background-accent-contrast-static),
    $innerElementsBackground_disabled: var(--states-background-disabled-contrast-static),
    $innerElementsForeground: var(--text-primary),
    $innerElementsForeground_disabled: var(--states-text-disabled-primary),
  )
}

@mixin buttonTertiaryContrastStatic(
  $root,
  $withInnerElementsDefs: false,
) {
  @include button-appearances-builder.buildButtonTertiaryModeAppearance(
    $root,
    $withInnerElementsDefs,

    $foreground: var(--text-contrast-static),
    $foreground_disabled: var(--states-text-disabled-contrast-static),

    $innerElementsBackground: var(--background-accent-contrast-static),
    $innerElementsBackground_disabled: var(--states-background-disabled-contrast-static),
    $innerElementsForeground: var(--text-primary),
    $innerElementsForeground_disabled: var(--states-text-disabled-primary),
  )
}

@mixin buttonLinkContrastStatic(
  $root,
  $withInnerElementsDefs: false,
) {
  @include button-appearances-builder.buildButtonLinkModeAppearance(
    $root,
    $withInnerElementsDefs,

    $foreground: var(--text-contrast-static),
    $foreground_disabled: var(--states-text-disabled-contrast-static),
    $foreground_pressed: var(--states-text-pressed-contrast-static),
    $foreground_hovered: var(--states-text-hovered-contrast-static),

    $innerElementsBackground: var(--background-accent-contrast-static),
    $innerElementsBackground_disabled: var(--states-background-disabled-contrast-static),
    $innerElementsForeground: var(--text-primary),
    $innerElementsForeground_disabled: var(--states-text-disabled-primary),
  )
}
