@mixin display {
  font-family: var(--family-accent);
  font-size: var(--size-display);
  line-height: var(--height-display);
  letter-spacing: var(--letter-spacing-display);
  font-weight: 600;
}

@mixin headlineLargeStrong {
  font-family: var(--family-base);
  font-size: var(--size-headline-large);
  line-height: var(--height-headline-large);
  letter-spacing: var(--letter-spacing-headline-large);
  font-weight: 600;
}

@mixin headlineMedium {
  font-family: var(--family-base);
  font-size: var(--size-headline-medium);
  line-height: var(--height-headline-medium);
  letter-spacing: var(--letter-spacing-headline-medium);
}

@mixin headlineMediumStrong {
  @include headlineMedium;

  font-weight: 500;
}

@mixin headlineSmall {
  font-family: var(--family-base);
  font-size: var(--size-headline-small);
  line-height: var(--height-headline-small);
  letter-spacing: var(--letter-spacing-headline-medium);
}
@mixin headlineSmallStrong {
  @include headlineSmall;

  font-weight: 600;
}

@mixin titleLargeStrong {
  font-family: var(--family-base);
  font-size: var(--size-title-large);
  line-height: var(--height-title-large);
  letter-spacing: var(--letter-spacing-title-large);
  font-weight: 500;
}

@mixin titleMediumStrong {
  font-family: var(--family-base);
  font-size: var(--size-title-medium);
  line-height: var(--height-title-medium);
  letter-spacing: var(--letter-spacing-title-medium);
  font-weight: 500;
}

@mixin titleSmall {
  font-family: var(--family-base);
  font-size: var(--size-title-small);
  line-height: var(--height-title-small);
  letter-spacing: var(--letter-spacing-title-small);
}

@mixin titleSmallStrong {
  @include titleSmall;

  font-weight: 500;
}

@mixin bodyLarge {
  font-family: var(--family-base);
  font-size: var(--size-body-large);
  line-height: var(--height-body-large);
  letter-spacing: var(--letter-spacing-body-large);
}

@mixin bodyMedium {
  font-family: var(--family-base);
  font-size: var(--size-body-medium);
  line-height: var(--height-body-medium);
  letter-spacing: var(--letter-spacing-body-medium);
}

@mixin bodySmall {
  font-family: var(--family-base);
  font-size: var(--size-body-small);
  line-height: var(--height-body-small);
  letter-spacing: var(--letter-spacing-body-small);
}

@mixin bodySmallStrong {
  @include bodySmall;

  font-weight: 500;
}

@mixin bodySmallCaps {
  @include bodySmall;

  font-weight: 600;
  text-transform: uppercase;
}

@mixin labelLarge {
  font-family: var(--family-base);
  font-size: var(--size-label-large);
  line-height: var(--height-label-large);
  letter-spacing: var(--letter-spacing-label-large);
}

@mixin labelLargeStrong {
  @include labelLarge;

  font-weight: 500;
}

@mixin labelLargeCaps {
  @include labelLarge;

  font-weight: 600;
  text-transform: uppercase;
}

@mixin labelMedium {
  font-family: var(--family-base);
  font-size: var(--size-label-medium);
  line-height: var(--height-label-medium);
  letter-spacing: var(--letter-spacing-label-medium);
}

@mixin labelMediumStrong {
  @include labelMedium;

  font-weight: 600;
}

@mixin labelSmall {
  font-family: var(--family-base);
  font-size: var(--size-label-small);
  line-height: var(--height-label-small);
  letter-spacing: var(--letter-spacing-label-small);
}

@mixin labelSmallStrong {
  @include labelSmall;

  font-weight: 500;
}

@mixin labelSmallCaps {
  @include labelSmall;

  font-weight: 600;
  text-transform: uppercase;
}

@mixin actionLarge {
  font-family: var(--family-base);
  font-size: var(--size-action-large);
  line-height: var(--height-action-large);
  letter-spacing: var(--letter-spacing-action-large);
  font-weight: 600;
}

@mixin actionMedium {
  font-family: var(--family-base);
  font-size: var(--size-action-medium);
  line-height: var(--height-action-medium);
  letter-spacing: var(--letter-spacing-action-medium);
  font-weight: 500;
}

@mixin actionSmall {
  font-family: var(--family-base);
  font-size: var(--size-action-small);
  line-height: var(--height-action-small);
  letter-spacing: var(--letter-spacing-action-small);
  font-weight: 500;
}

@mixin actionLabel {
  font-family: var(--family-base);
  font-size: var(--size-action-label);
  line-height: var(--height-action-label);
  letter-spacing: var(--letter-spacing-action-label);
}
