@mixin lightPalette {
  --accent-red: rgb(255 48 60);
  --accent-secondary: rgb(12 13 14 / 0.52);
  --accent-themed: rgb(0 122 255);
  --background-contrast-floating-android: var(--background-surface-primary);
  --background-contrast-floating-secondary-android: var(--background-surface-ground);
  --background-contrast-floating-secondary-i-os: rgb(237 238 242 / 0.84);
  --background-contrast-floating-i-os: rgb(255 255 255 / 0.84);
  --background-neutral-floating-android: rgb(105 108 112);
  --background-neutral-floating-i-os: rgb(21 26 31 / 0.64);
  --background-overlay: rgb(12 13 14 / 0.32);
  --background-overlay-secondary: rgb(0 0 0 / 0.6);
  --background-overlay-static: rgb(12 13 14 / 0.32);
  --background-surface-card: rgb(255 255 255);
  --background-surface-floating: rgb(255 255 255);
  --background-surface-ground: rgb(237 238 242);
  --background-surface-primary: rgb(255 255 255);
  --background-surface-secondary: rgb(240 240 240);
  --background-surface-tertiary: rgb(246 246 246);
  --background-transparent: rgb(0 0 0 / 0);
  --background-accent-attention-primary: rgb(255 147 21);
  --background-accent-attention-secondary: rgb(255 204 0);
  --background-accent-contrast-static: rgb(255 255 255);
  --background-accent-contrast: rgb(255 255 255);
  --background-accent-contrast-secondary: rgb(255 255 255);
  --background-accent-negative: rgb(255 48 60);
  --background-accent-neutral: rgb(13 13 13);
  --background-accent-neutral-fade: rgb(9 9 9 / 0.08);
  --background-accent-neutral-fade-secondary: rgb(9 9 9 / 0.05);
  --background-accent-neutral-static: rgb(13 13 13);
  --background-accent-neutral-themed: rgb(13 13 13);
  --background-accent-positive: rgb(26 190 67);
  --background-accent-themed: rgb(0 122 255);
  --background-local-chips-active: var(--background-accent-themed);
  --background-local-chips-default: var(--background-surface-tertiary);
  --background-local-tab-bar-android: rgb(255 255 255);
  --background-local-tab-bar-i-os: rgb(255 255 255 / 0.84);
  --background-local-top-bar-primary-android: rgb(255 255 255);
  --background-local-top-bar-primary-i-os: rgb(255 255 255 / 0.84);
  --background-local-top-bar-secondary-android: rgb(237 238 242);
  --background-local-top-bar-secondary-i-os: rgb(237 238 242 / 0.84);
  --gradients-banner-dk-background-fantasy-step-1: rgb(142 133 255);
  --gradients-banner-dk-background-fantasy-step-2: rgb(78 4 236);
  --gradients-banner-dk-background-icon-container-step-1: rgb(255 255 255 / 0.2);
  --gradients-banner-dk-background-icon-container-step-2: rgb(255 255 255 / 0);
  --gradients-banner-dk-background-vibrant-step-1: rgb(0 153 240);
  --gradients-banner-dk-background-vibrant-step-2: rgb(8 52 211);
  --gradients-banner-dk-stroke-icon-container-step-1: rgb(255 255 255 / 0.56);
  --gradients-banner-dk-stroke-icon-container-step-2: rgb(255 255 255 / 0.04);
  --gradients-banner-dk-stroke-icon-container-step-3: rgb(255 255 255 / 0);
  --gradients-button-text-promo-default-step-1: rgb(141 40 200);
  --gradients-button-text-promo-default-step-2: rgb(124 66 250);
  --gradients-button-text-promo-default-step-3: rgb(0 122 255);
  --gradients-button-text-promo-default-step-4: rgb(96 156 235);
  --gradients-button-text-promo-disabled-step-1: rgb(141 40 200 / 0.4);
  --gradients-button-text-promo-disabled-step-2: rgb(124 66 250 / 0.4);
  --gradients-button-text-promo-disabled-step-3: rgb(0 122 255 / 0.4);
  --gradients-button-text-promo-disabled-step-4: rgb(96 156 235 / 0.4);
  --gradients-button-text-promo-pressed-step-1: rgb(152 46 214);
  --gradients-button-text-promo-pressed-step-2: rgb(138 86 251);
  --gradients-button-text-promo-pressed-step-3: rgb(20 133 255);
  --gradients-button-text-promo-pressed-step-4: rgb(114 167 238);
  --gradients-complex-overlay-floating-step-1: rgb(255 255 255);
  --gradients-complex-overlay-floating-step-2: rgb(255 255 255 / 0.72);
  --gradients-complex-overlay-floating-step-3: rgb(255 255 255 / 0);
  --gradients-empty-block-icon-wrapper-shape-step-1: rgb(255 255 255 / 0.5);
  --gradients-empty-block-icon-wrapper-shape-step-2: rgb(255 255 255 / 0);
  --gradients-empty-block-icon-wrapper-stroke-step-1: rgb(255 255 255 / 0.56);
  --gradients-empty-block-icon-wrapper-stroke-step-2: rgb(255 255 255 / 0.04);
  --gradients-empty-block-icon-wrapper-stroke-step-3: rgb(255 255 255 / 0);
  --gradients-loading-icon-contrast-filled: rgb(255 255 255);
  --gradients-loading-icon-contrast-transparent: rgb(255 255 255 / 0);
  --gradients-loading-icon-contrast-static-filled: rgb(255 255 255);
  --gradients-loading-icon-contrast-static-transparent: rgb(255 255 255 / 0);
  --gradients-loading-icon-negative-filled: rgb(255 48 60);
  --gradients-loading-icon-negative-transparent: rgb(255 48 60 / 0);
  --gradients-loading-icon-neutral-themed-filled: rgb(13 13 13);
  --gradients-loading-icon-neutral-themed-transparent: rgb(13 13 13 / 0);
  --gradients-loading-icon-primary-filled: rgb(13 13 13);
  --gradients-loading-icon-primary-transparent: rgb(13 13 13 / 0);
  --gradients-loading-icon-primary-static-filled: rgb(13 13 13);
  --gradients-loading-icon-primary-static-transparent: rgb(13 13 13 / 0);
  --gradients-loading-icon-themed-filled: rgb(0 122 255);
  --gradients-loading-icon-themed-transparent: rgb(0 122 255 / 0);
  --icon-contrast: rgb(255 255 255);
  --icon-contrast-static: rgb(255 255 255);
  --icon-negative: rgb(255 48 60);
  --icon-neutral-themed: rgb(12 13 14);
  --icon-positive: rgb(26 190 67);
  --icon-primary: rgb(12 13 14);
  --icon-primary-static: rgb(12 13 14);
  --icon-quaternary: rgb(188 189 190);
  --icon-secondary: rgb(81 84 85);
  --icon-tertiary: rgb(137 140 140);
  --icon-themed: rgb(0 122 255);
  --shadow-android-tab-bar-default-color: rgb(0 0 0 / 0);
  --shadow-android-tab-bar-scroll-color: rgb(0 0 0 / 0.06);
  --shadow-android-top-bar-scroll-color: rgb(0 0 0 / 0.06);
  --shadow-elevation-1-primary: rgb(0 0 0 / 0.06);
  --shadow-elevation-1-secondary: rgb(0 0 0 / 0.03);
  --shadow-elevation-2-primary: rgb(0 0 0 / 0.06);
  --shadow-elevation-2-secondary: rgb(0 0 0 / 0.04);
  --shadow-elevation-3-primary: rgb(0 0 0 / 0.08);
  --shadow-elevation-3-secondary: rgb(0 0 0 / 0.08);
  --shadow-elevation-4-primary: rgb(0 0 0 / 0.16);
  --shadow-elevation-4-secondary: rgb(0 0 0 / 0.12);
  --shadow-tabbar-color: rgb(0 0 0 / 0.1);
  --states-background-active-contrast-static: rgb(226 226 226);
  --states-background-active-negative: rgb(255 75 85);
  --states-background-active-neutral: rgb(55 55 55);
  --states-background-active-neutral-fade: rgb(226 226 226);
  --states-background-active-neutral-themed: rgb(55 55 55);
  --states-background-active-overlay-static: rgb(12 13 14 / 0.48);
  --states-background-active-themed: rgb(0 98 204);
  --states-background-active-transparent: rgb(13 13 13 / 0.04);
  --states-background-active-transparent-secondary-static: rgb(255 255 255 / 0.3);
  --states-background-disabled-card: rgb(255 255 255 / 0.4);
  --states-background-disabled-contrast: rgb(255 255 255 / 0.4);
  --states-background-disabled-contrast-static: rgb(255 255 255 / 0.4);
  --states-background-disabled-negative: rgb(247 96 105 / 0.48);
  --states-background-disabled-neutral: rgb(135 137 143);
  --states-background-disabled-neutral-fade: rgb(9 9 9 / 0.04);
  --states-background-disabled-neutral-static: rgb(135 137 143);
  --states-background-disabled-neutral-themed: rgb(135 137 143);
  --states-background-disabled-overlay-static: rgb(12 13 14 / 0.2);
  --states-background-disabled-positive: rgb(72 181 99 / 0.56);
  --states-background-disabled-secondary: rgb(12 13 14 / 0.52);
  --states-background-disabled-themed: rgb(0 122 255 / 0.48);
  --states-background-hovered-card: rgb(246 246 246);
  --states-background-hovered-contrast-static: rgb(246 246 246);
  --states-background-hovered-negative: rgb(255 75 85);
  --states-background-hovered-neutral: rgb(55 55 55);
  --states-background-hovered-neutral-fade: rgb(9 9 9 / 0.05);
  --states-background-hovered-neutral-themed: rgb(55 55 55);
  --states-background-hovered-positive: rgb(25 166 60);
  --states-background-hovered-themed: rgb(71 159 255);
  --states-background-hovered-transparent: rgb(13 13 13 / 0.04);
  --states-background-hovered-transparent-select: rgb(233 239 255);
  --states-background-pressed-card: rgb(250 250 250);
  --states-background-pressed-contrast-static: rgb(235 235 235);
  --states-background-pressed-negative: rgb(240 55 65);
  --states-background-pressed-neutral: rgb(20 20 20);
  --states-background-pressed-neutral-fade: rgb(13 13 13 / 0.04);
  --states-background-pressed-neutral-themed: rgb(20 20 20);
  --states-background-pressed-positive: rgb(16 202 63);
  --states-background-pressed-themed: rgb(0 110 229);
  --states-background-pressed-transparent: rgb(13 13 13 / 0.08);
  --states-background-pressed-transparent-select: rgb(233 239 255);
  --states-icon-disabled-contrast: rgb(255 255 255 / 0.72);
  --states-icon-disabled-contrast-static: rgb(255 255 255 / 0.72);
  --states-icon-disabled-negative: rgb(229 77 86 / 0.64);
  --states-icon-disabled-neutral-themed: rgb(111 114 118 / 0.64);
  --states-icon-disabled-positive: rgb(72 181 99 / 0.56);
  --states-icon-disabled-primary: rgb(111 114 118 / 0.64);
  --states-icon-disabled-primary-static: rgb(111 114 118 / 0.64);
  --states-icon-disabled-themed: rgb(0 122 255 / 0.6);
  --states-icon-hovered-contrast-static: rgb(215 215 215);
  --states-icon-hovered-negative: rgb(255 106 115);
  --states-icon-hovered-neutral-themed: rgb(80 81 81);
  --states-icon-hovered-primary: rgb(80 81 81);
  --states-icon-hovered-remove-attach: rgb(107 107 116);
  --states-icon-hovered-tertiary: rgb(12 13 14 / 0.64);
  --states-icon-hovered-themed: rgb(71 159 255);
  --states-icon-pressed-contrast-static: rgb(255 255 255);
  --states-icon-pressed-negative: rgb(237 59 69);
  --states-icon-pressed-neutral-themed: rgb(0 0 0);
  --states-icon-pressed-primary: rgb(0 0 0);
  --states-icon-pressed-remove-attach: rgb(0 0 0);
  --states-icon-pressed-tertiary: rgb(0 0 0);
  --states-icon-pressed-themed: rgb(0 107 224);
  --states-text-active-contrast-static: rgb(187 187 187);
  --states-text-active-negative: rgb(255 106 115);
  --states-text-active-neutral-themed: rgb(80 81 81);
  --states-text-active-primary: rgb(80 81 81);
  --states-text-active-themed: rgb(0 98 204);
  --states-text-disabled-contrast: rgb(255 255 255 / 0.64);
  --states-text-disabled-contrast-static: rgb(255 255 255 / 0.72);
  --states-text-disabled-negative: rgb(229 77 86 / 0.64);
  --states-text-disabled-neutral-themed: rgb(111 114 118 / 0.64);
  --states-text-disabled-primary: rgb(111 114 118 / 0.64);
  --states-text-disabled-primary-static: rgb(111 114 118 / 0.64);
  --states-text-disabled-themed: rgb(0 122 255 / 0.6);
  --states-text-hovered-contrast-static: rgb(233 233 233);
  --states-text-hovered-negative: rgb(255 106 115);
  --states-text-hovered-neutral-themed: rgb(80 81 81);
  --states-text-hovered-primary: rgb(80 81 81);
  --states-text-hovered-secondary: rgb(12 13 14 / 0.64);
  --states-text-hovered-themed: rgb(71 159 255);
  --states-text-pressed-contrast-static: rgb(255 255 255);
  --states-text-pressed-negative: rgb(237 59 69);
  --states-text-pressed-neutral-themed: rgb(0 0 0);
  --states-text-pressed-primary: rgb(0 0 0);
  --states-text-pressed-secondary: rgb(13 13 13 / 0.52);
  --states-text-pressed-themed: rgb(0 107 224);
  --stroke-contrast-secondary-static: rgb(255 255 255 / 0.3);
  --stroke-contrast-static: rgb(255 255 255);
  --stroke-negative: rgb(255 48 60);
  --stroke-positive: rgb(26 190 67);
  --stroke-secondary: rgb(12 13 14 / 0.52);
  --stroke-themed: rgb(0 122 255);
  --stroke-transparent: rgb(12 13 14 / 0);
  --stroke-local-carver-tab-bar: rgb(255 255 255);
  --stroke-local-tab-bar-android: rgb(12 13 14 / 0.16);
  --stroke-local-tab-bar-i-os: rgb(12 13 14 / 0.16);
  --stroke-local-top-bar-android: rgb(12 13 14 / 0.16);
  --stroke-local-top-bar-i-os: rgb(12 13 14 / 0.16);
  --stroke-separator-contrast: rgb(255 255 255 / 0.08);
  --stroke-separator-primary: rgb(12 13 14 / 0.16);
  --stroke-separator-secondary: rgb(12 13 14 / 0.06);
  --text-contrast: rgb(255 255 255);
  --text-contrast-static: rgb(255 255 255);
  --text-negative: rgb(255 48 60);
  --text-neutral-themed: rgb(12 13 14);
  --text-positive: rgb(26 190 67);
  --text-primary: rgb(12 13 14);
  --text-primary-static: rgb(12 13 14);
  --text-secondary: rgb(12 13 14 / 0.52);
  --text-subhead: rgb(12 13 14 / 0.72);
  --text-tertiary: rgb(12 13 14 / 0.4);
  --text-themed: rgb(0 122 255);
}

@mixin darkPalette {
  --accent-red: rgb(255 68 79);
  --accent-secondary: rgb(255 255 255 / 0.44);
  --accent-themed: rgb(0 122 255);
  --background-contrast-floating-android: var(--background-surface-primary);
  --background-contrast-floating-secondary-android: var(--background-surface-ground);
  --background-contrast-floating-secondary-i-os: rgb(23 24 28 / 0.84);
  --background-contrast-floating-i-os: rgb(23 24 28 / 0.84);
  --background-neutral-floating-android: rgb(83 84 88);
  --background-neutral-floating-i-os: rgb(122 124 130 / 0.64);
  --background-overlay: rgb(13 13 13 / 0.64);
  --background-overlay-secondary: rgb(0 0 0 / 0.6);
  --background-overlay-static: rgb(13 13 13 / 0.32);
  --background-surface-card: rgb(37 38 45);
  --background-surface-floating: rgb(23 23 24);
  --background-surface-ground: rgb(23 24 28);
  --background-surface-primary: rgb(23 24 28);
  --background-surface-secondary: rgb(30 31 36);
  --background-surface-tertiary: rgb(37 38 45);
  --background-transparent: rgb(0 0 0 / 0);
  --background-accent-attention-primary: rgb(255 159 10);
  --background-accent-attention-secondary: rgb(255 214 10);
  --background-accent-contrast-static: rgb(255 255 255);
  --background-accent-contrast: rgb(13 13 13);
  --background-accent-contrast-secondary: rgb(30 30 30);
  --background-accent-negative: rgb(206 66 87);
  --background-accent-neutral: rgb(255 255 255);
  --background-accent-neutral-fade: rgb(255 255 255 / 0.09);
  --background-accent-neutral-fade-secondary: rgb(255 255 255 / 0.09);
  --background-accent-neutral-static: rgb(23 24 28);
  --background-accent-neutral-themed: rgb(0 122 255);
  --background-accent-positive: rgb(43 198 68);
  --background-accent-themed: rgb(0 122 255);
  --background-local-chips-active: var(--background-accent-themed);
  --background-local-chips-default: var(--background-surface-tertiary);
  --background-local-tab-bar-android: rgb(30 31 36);
  --background-local-tab-bar-i-os: rgb(30 31 36 / 0.84);
  --background-local-top-bar-primary-android: rgb(30 31 36);
  --background-local-top-bar-primary-i-os: rgb(30 31 36 / 0.84);
  --background-local-top-bar-secondary-android: rgb(23 24 28);
  --background-local-top-bar-secondary-i-os: rgb(23 24 28 / 0.84);
  --gradients-banner-dk-background-fantasy-step-1: rgb(142 133 255);
  --gradients-banner-dk-background-fantasy-step-2: rgb(78 4 236);
  --gradients-banner-dk-background-icon-container-step-1: rgb(255 255 255 / 0.2);
  --gradients-banner-dk-background-icon-container-step-2: rgb(255 255 255 / 0);
  --gradients-banner-dk-background-vibrant-step-1: rgb(0 153 240);
  --gradients-banner-dk-background-vibrant-step-2: rgb(8 52 211);
  --gradients-banner-dk-stroke-icon-container-step-1: rgb(255 255 255 / 0.56);
  --gradients-banner-dk-stroke-icon-container-step-2: rgb(255 255 255 / 0.04);
  --gradients-banner-dk-stroke-icon-container-step-3: rgb(255 255 255 / 0);
  --gradients-button-text-promo-default-step-1: rgb(141 40 200);
  --gradients-button-text-promo-default-step-2: rgb(124 66 250);
  --gradients-button-text-promo-default-step-3: rgb(0 122 255);
  --gradients-button-text-promo-default-step-4: rgb(96 156 235);
  --gradients-button-text-promo-disabled-step-1: rgb(141 40 200 / 0.4);
  --gradients-button-text-promo-disabled-step-2: rgb(124 66 250 / 0.4);
  --gradients-button-text-promo-disabled-step-3: rgb(0 122 255 / 0.4);
  --gradients-button-text-promo-disabled-step-4: rgb(96 156 235 / 0.4);
  --gradients-button-text-promo-pressed-step-1: rgb(152 46 214);
  --gradients-button-text-promo-pressed-step-2: rgb(138 86 251);
  --gradients-button-text-promo-pressed-step-3: rgb(20 133 255);
  --gradients-button-text-promo-pressed-step-4: rgb(114 167 238);
  --gradients-complex-overlay-floating-step-1: rgb(13 13 13);
  --gradients-complex-overlay-floating-step-2: rgb(13 13 13 / 0.72);
  --gradients-complex-overlay-floating-step-3: rgb(13 13 13 / 0);
  --gradients-empty-block-icon-wrapper-shape-step-1: rgb(255 255 255 / 0.2);
  --gradients-empty-block-icon-wrapper-shape-step-2: rgb(255 255 255 / 0);
  --gradients-empty-block-icon-wrapper-stroke-step-1: rgb(255 255 255 / 0.3);
  --gradients-empty-block-icon-wrapper-stroke-step-2: rgb(255 255 255 / 0.04);
  --gradients-empty-block-icon-wrapper-stroke-step-3: rgb(255 255 255 / 0);
  --gradients-loading-icon-contrast-filled: rgb(13 13 13);
  --gradients-loading-icon-contrast-transparent: rgb(13 13 13 / 0);
  --gradients-loading-icon-contrast-static-filled: rgb(255 255 255);
  --gradients-loading-icon-contrast-static-transparent: rgb(255 255 255 / 0);
  --gradients-loading-icon-negative-filled: rgb(255 68 79);
  --gradients-loading-icon-negative-transparent: rgb(255 68 79 / 0);
  --gradients-loading-icon-neutral-themed-filled: rgb(0 122 255);
  --gradients-loading-icon-neutral-themed-transparent: rgb(0 122 255 / 0);
  --gradients-loading-icon-primary-filled: rgb(255 255 255);
  --gradients-loading-icon-primary-transparent: rgb(255 255 255 / 0);
  --gradients-loading-icon-primary-static-filled: rgb(13 13 13);
  --gradients-loading-icon-primary-static-transparent: rgb(13 13 13 / 0);
  --gradients-loading-icon-themed-filled: rgb(0 122 255);
  --gradients-loading-icon-themed-transparent: rgb(0 122 255 / 0);
  --icon-contrast: rgb(12 13 14);
  --icon-contrast-static: rgb(255 255 255);
  --icon-negative: rgb(206 66 87);
  --icon-neutral-themed: rgb(0 122 255);
  --icon-positive: rgb(43 198 68);
  --icon-primary: rgb(255 255 255 / 0.8);
  --icon-primary-static: rgb(12 13 14);
  --icon-quaternary: rgb(255 255 255 / 0.28);
  --icon-secondary: rgb(255 255 255 / 0.44);
  --icon-tertiary: rgb(255 255 255 / 0.28);
  --icon-themed: rgb(0 122 255);
  --shadow-android-tab-bar-default-color: rgb(0 0 0 / 0.16);
  --shadow-android-tab-bar-scroll-color: rgb(0 0 0 / 0.16);
  --shadow-android-top-bar-scroll-color: rgb(0 0 0 / 0.16);
  --shadow-elevation-1-primary: rgb(0 0 0 / 0.2);
  --shadow-elevation-1-secondary: rgb(0 0 0 / 0.1);
  --shadow-elevation-2-primary: rgb(0 0 0 / 0.2);
  --shadow-elevation-2-secondary: rgb(0 0 0 / 0.15);
  --shadow-elevation-3-primary: rgb(0 0 0 / 0.3);
  --shadow-elevation-3-secondary: rgb(0 0 0 / 0.3);
  --shadow-elevation-4-primary: rgb(0 0 0 / 0.2);
  --shadow-elevation-4-secondary: rgb(0 0 0 / 0.1);
  --shadow-tabbar-color: rgb(0 0 0 / 0);
  --states-background-active-contrast-static: rgb(226 226 226);
  --states-background-active-negative: rgb(255 88 98);
  --states-background-active-neutral: rgb(197 197 197);
  --states-background-active-neutral-fade: rgb(44 44 44);
  --states-background-active-neutral-themed: rgb(0 98 204);
  --states-background-active-overlay-static: rgb(13 13 13 / 0.48);
  --states-background-active-themed: rgb(0 98 204);
  --states-background-active-transparent: rgb(255 255 255 / 0.08);
  --states-background-active-transparent-secondary-static: rgb(255 255 255 / 0.3);
  --states-background-disabled-card: rgb(30 30 30 / 0.4);
  --states-background-disabled-contrast: rgb(13 13 13 / 0.4);
  --states-background-disabled-contrast-static: rgb(255 255 255 / 0.12);
  --states-background-disabled-negative: rgb(255 255 255 / 0.12);
  --states-background-disabled-neutral: rgb(255 255 255 / 0.12);
  --states-background-disabled-neutral-fade: rgb(255 255 255 / 0.12);
  --states-background-disabled-neutral-static: rgb(255 255 255 / 0.12);
  --states-background-disabled-neutral-themed: rgb(255 255 255 / 0.12);
  --states-background-disabled-overlay-static: rgb(13 13 13 / 0.2);
  --states-background-disabled-positive: rgb(255 255 255 / 0.12);
  --states-background-disabled-secondary: rgb(255 255 255 / 0.44);
  --states-background-disabled-themed: rgb(255 255 255 / 0.12);
  --states-background-hovered-card: rgb(50 52 61);
  --states-background-hovered-contrast-static: rgb(246 246 246);
  --states-background-hovered-negative: rgb(245 78 103);
  --states-background-hovered-neutral: rgb(228 228 228);
  --states-background-hovered-neutral-fade: rgb(231 231 231 / 0.15);
  --states-background-hovered-neutral-themed: rgb(71 159 255);
  --states-background-hovered-positive: rgb(39 172 60);
  --states-background-hovered-themed: rgb(71 159 255);
  --states-background-hovered-transparent: rgb(231 231 231 / 0.04);
  --states-background-hovered-transparent-select: rgb(44 45 55);
  --states-background-pressed-card: rgb(31 32 38);
  --states-background-pressed-contrast-static: rgb(235 235 235);
  --states-background-pressed-negative: rgb(156 50 66);
  --states-background-pressed-neutral: rgb(195 195 195);
  --states-background-pressed-neutral-fade: rgb(231 231 231 / 0.04);
  --states-background-pressed-neutral-themed: rgb(0 110 229);
  --states-background-pressed-positive: rgb(61 196 83);
  --states-background-pressed-themed: rgb(0 110 229);
  --states-background-pressed-transparent: rgb(231 231 231 / 0.08);
  --states-background-pressed-transparent-select: rgb(44 45 55);
  --states-icon-disabled-contrast: rgb(12 13 14 / 0.64);
  --states-icon-disabled-contrast-static: rgb(231 231 231 / 0.48);
  --states-icon-disabled-negative: rgb(199 91 98 / 0.52);
  --states-icon-disabled-neutral-themed: rgb(0 122 255 / 0.6);
  --states-icon-disabled-positive: rgb(88 178 110 / 0.64);
  --states-icon-disabled-primary: rgb(183 184 185 / 0.64);
  --states-icon-disabled-primary-static: rgb(111 114 118 / 0.64);
  --states-icon-disabled-themed: rgb(0 122 255 / 0.6);
  --states-icon-hovered-contrast-static: rgb(215 215 215);
  --states-icon-hovered-negative: rgb(187 57 73);
  --states-icon-hovered-neutral-themed: rgb(71 159 255);
  --states-icon-hovered-primary: rgb(187 187 187);
  --states-icon-hovered-remove-attach: rgb(124 125 131);
  --states-icon-hovered-tertiary: rgb(231 231 231 / 0.64);
  --states-icon-hovered-themed: rgb(71 159 255);
  --states-icon-pressed-contrast-static: rgb(231 231 231);
  --states-icon-pressed-negative: rgb(255 102 121);
  --states-icon-pressed-neutral-themed: rgb(0 107 224);
  --states-icon-pressed-primary: rgb(231 231 231);
  --states-icon-pressed-remove-attach: rgb(165 167 175);
  --states-icon-pressed-tertiary: rgb(231 231 231);
  --states-icon-pressed-themed: rgb(0 107 224);
  --states-text-active-contrast-static: rgb(187 187 187);
  --states-text-active-negative: rgb(187 53 61);
  --states-text-active-neutral-themed: rgb(0 98 204);
  --states-text-active-primary: rgb(187 187 187);
  --states-text-active-themed: rgb(0 98 204);
  --states-text-disabled-contrast: rgb(255 255 255 / 0.28);
  --states-text-disabled-contrast-static: rgb(255 255 255 / 0.28);
  --states-text-disabled-negative: rgb(255 255 255 / 0.28);
  --states-text-disabled-neutral-themed: rgb(255 255 255 / 0.28);
  --states-text-disabled-primary: rgb(255 255 255 / 0.28);
  --states-text-disabled-primary-static: rgb(255 255 255 / 0.28);
  --states-text-disabled-themed: rgb(255 255 255 / 0.28);
  --states-text-hovered-contrast-static: rgb(233 233 233);
  --states-text-hovered-negative: rgb(187 57 73);
  --states-text-hovered-neutral-themed: rgb(71 159 255);
  --states-text-hovered-primary: rgb(187 187 187);
  --states-text-hovered-secondary: rgb(231 231 231 / 0.64);
  --states-text-hovered-themed: rgb(71 159 255);
  --states-text-pressed-contrast-static: rgb(231 231 231);
  --states-text-pressed-negative: rgb(255 102 121);
  --states-text-pressed-neutral-themed: rgb(0 107 224);
  --states-text-pressed-primary: rgb(231 231 231);
  --states-text-pressed-secondary: rgb(231 231 231 / 0.68);
  --states-text-pressed-themed: rgb(0 107 224);
  --stroke-contrast-secondary-static: rgb(255 255 255 / 0.3);
  --stroke-contrast-static: rgb(255 255 255 / 0.8);
  --stroke-negative: rgb(255 68 79);
  --stroke-positive: rgb(43 198 68);
  --stroke-secondary: rgb(255 255 255 / 0.44);
  --stroke-themed: rgb(0 122 255);
  --stroke-transparent: rgb(255 255 255 / 0);
  --stroke-local-carver-tab-bar: rgb(30 31 36);
  --stroke-local-tab-bar-android: rgb(255 255 255 / 0);
  --stroke-local-tab-bar-i-os: rgb(255 255 255 / 0);
  --stroke-local-top-bar-android: rgb(255 255 255 / 0);
  --stroke-local-top-bar-i-os: rgb(255 255 255 / 0);
  --stroke-separator-contrast: rgb(12 13 14 / 0.1);
  --stroke-separator-primary: rgb(255 255 255 / 0.12);
  --stroke-separator-secondary: rgb(255 255 255 / 0.06);
  --text-contrast: rgb(12 13 14);
  --text-contrast-static: rgb(255 255 255);
  --text-negative: rgb(206 66 87);
  --text-neutral-themed: rgb(0 122 255);
  --text-positive: rgb(43 198 68);
  --text-primary: rgb(255 255 255 / 0.8);
  --text-primary-static: rgb(12 13 14);
  --text-secondary: rgb(255 255 255 / 0.44);
  --text-subhead: rgb(255 255 255 / 0.74);
  --text-tertiary: rgb(255 255 255 / 0.28);
  --text-themed: rgb(0 122 255);
}
