@use '../../styles/shared-mixins/typography';
@use '../../styles/shared-mixins/reset-clickable';

.ToolButton {
  @include reset-clickable.resetClickable;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-size-xl) var(--spacing-size-xl);
  border-radius: var(--size-border-radius-action-medium);
  width: 100%;
}

// [Properties] Modes
.ToolButton_appearance_default {
  background-color: var(--background-surface-card);
  color: var(--text-primary);

  &.ToolButton_disabled {
    background-color: var(--states-background-disabled-card);
    color: var(--states-text-disabled-primary);
  }
}
.ToolButton_appearance_secondary {
  background-color: var(--background-accent-neutral-fade);
  color: var(--text-primary);

  &.ToolButton_disabled {
    background-color: var(--states-background-disabled-neutral-fade);
    color: var(--states-text-disabled-primary);
  }
}

// [Property] With label
.ToolButton_withLabel {
  padding: var(--spacing-size-m) var(--spacing-size-s);
}

// [Parts] Icon
.ToolButton__icon {
  display: flex;

  &:not(:last-child) {
    margin-bottom: var(--spacing-size-xs);
  }
}

// [Parts] Label
.ToolButton__label {
  @include typography.labelLarge;

  max-width: 100%;
}
