@use '../../styles/shared-mixins/typography';

.CellSimple {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

// [State] Disabled
.CellSimple_disabled {
  color: var(--states-text-disabled-primary);

  .CellSimple__subtitle, .CellSimple__overline {
    color: var(--states-text-disabled-primary);
  }
}

// [Properties] Heights
.CellSimple_height_compact {
  padding: var(--spacing-size-xs) var(--spacing-size-xl);
  min-height: 48px;
}
.CellSimple_height_normal {
  padding: var(--spacing-size-m) var(--spacing-size-xl);
  min-height: 56px;
}

// [Parts] Before
.CellSimple__before {
  margin-right: var(--spacing-size-xl);
  min-width: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// [Parts] After
.CellSimple__after {
  margin-left: var(--spacing-size-xl);
  display: flex;
  align-items: center;
}

// [Parts] Content
.CellSimple__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0
}

// [Parts] Title
.CellSimple__title {
  @include typography.titleLargeStrong;
}

// [Parts] Chevron
.CellSimple__chevron {
  color: var(--icon-quaternary);
  margin-left: var(--spacing-size-s);
}

// [Parts] Subtitle
.CellSimple__subtitle {
  @include typography.titleSmall;

  color: var(--text-secondary);

  &:not(:first-child) {
    margin-top: var(--spacing-size2xs);
  }
}

// [Parts] Overline
.CellSimple__overline {
  @include typography.titleSmall;

  color: var(--text-secondary);

  &:not(:last-child) {
    margin-bottom: var(--spacing-size2xs);
  }
}
